$bw: 2px;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
	background: #e5f9f1;
}

a {
	color: #333;
	text-decoration: none;
}

.container {
	padding: 0 1rem;
	max-width: 1000px;
	margin: auto;
}

.flex-row {
	display: flex;
	align-items: center;
	justify-content: center;
}

//SUBMIT Buttom
.btn {
	display: inline-block;
	font-weight: 400;
	border: none;
	background: #3a816e;
	color: #fff;
	padding: 0.7rem 1rem;
	cursor: pointer;
	border: $bw #20463c solid;
	border-width: 0 $bw $bw 0;
	font-size: 1rem;
	&:hover {
		background: #508576;
	}
	&:focus {
		outline: none;
	}
}

.main-header {
	text-align: center;
	padding: 1rem;
	background: #20463c;
	h1 {
		letter-spacing: 0.15rem;
	}
	color: #fff;
	.link-style {
		letter-spacing: 0;
		color: #fff;
	}
}

.del-btn {
	background: #ff8450;
	color: #fff;
	border: none;
	padding: 4.5px 9.5px;
	border-radius: 50%;
	cursor: pointer;
	float: right;
}

.todo {
	background: #f4f4f4;
	padding: 10px;
	border-bottom: 1px dotted #ccc;
	text-transform: capitalize;
	font-size: 1.4rem;
	&-v {
		@extend .todo;
		background: #ffeeda;
	}
	&-fu {
		@extend .todo;
		background: #ffe0da;
	}
	&-d {
		@extend .todo;
		background: #daffff;
	}
	&-m {
		@extend .todo;
		background: #ffdae6;
	}
	&-b {
		@extend .todo;
		background: #fffdda;
	}
	&-fz {
		@extend .todo;
		background: #dae1ff;
	}
}

.test {
	text-decoration: line-through;
}

.checked {
	font-style: italic;
	opacity: 0.5;
}

.not-checked {
	text-decoration: none;
}

.dropdown-box {
	background: black;
}
.select-box {
	background: #e5f9f1;
	padding: 0.7rem 0.5rem;
	border: $bw #20463c solid;
	border-width: 0 $bw $bw $bw;
	font-size: 1rem;
	option {
		// height: 3rem;
		background: #e5f9f1;
	}
}

.input-box {
	border: $bw #20463c solid;
	border-width: 0 0 $bw $bw;
	font-size: 1rem;
	&:focus {
		outline: none;
	}
}

.main-form {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
}

//MEDIA QUERIES
@media (max-width: 500px) {
	.main-form {
		grid-template-columns: 1fr;
	}

	.container {
		padding: 0;
	}

	.input-box {
		height: 2.5rem;
	}

	.input-box,
	.select-box,
	.btn {
		border-width: 0 0 $bw 0;
	}
}
